/*General 한 순서로 CSS 정리하기 */
/* ICONS - 정해져있는 class를 쓴다*/
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400,'GRAD' 0, 'opsz' 24;
}

/* COMMON */
body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: 'Nanum Gothic', sans-serif;
  /*height: 5000px; 스크롤 만드려고 넣은거임 */
}


a { 
  text-decoration: none; /*a 태그여도 그냥 글자처럼 보이게 처리하는 법 */
}

img { 
  display: block; /*이미지밑에 빈틈채우기 위해서 inline 요소에서 display 요소로 바뀜 */
}

.inner { /*가로픽셀을 고정*/
  width: 1100px;
  /*height: 120px;* 검정호버부분 영향 끼쳐서 지우고 header 밑에 inner 부분에 다시 넣어줌 */
  margin: 0 auto; /*수평중앙정렬
  /*background-color: orange; 해당구역이 어딘지 확인하려고 넣는 색*/
  position: relative;
}

.strong {
  font-weight: 700;
}

/* BUTTON */
  .btn {
    display: inline-block;
    padding: 6px 20px;
    border: 2px solid currentColor/*부모가가진색*/;
    border-radius: 5px;
    font-size: 15px;
  }
  .btn--light-green {
    position: absolute;
    margin: auto;
    color: #076443;
    border-color: #076443;
    transition : 0.6s; /*부모한테 적용해야 바뀔때 돌아올떄 전부 적용됨 */
  }

  .btn--light-green:hover {
    background-color: #076443;
    border-color: black;
    color: white;
    text-decoration: underline;
  }

  .btn--brown {
    color: #633510;
    border-color: #633510;
    transition: 0.6s;
  }

  .btn--brown:hover {
    background-color: #633510;
    color: white;
    text-decoration: underline;
  }

  .btn--gold {
    border-color: #966932;
    color: #966932;
    transition: 0.6s;
  }
  .btn--gold:hover {
    background-color: #966932;
    color: white;
    text-decoration: underline;
  }

  .btn--white {
    border-color: white;
    color: white;
    transition: 0.6s;
  }
  .btn--white:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
  }

  .btn--black {
    border-color: black;
    color: black;
    transition: 0.6s;
  }
  .btn--black:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
  }

/*HEADER*/
header {
  position: fixed;
  width: 100%;
  top: 0; 
  background-color: #f6f5ef;
  border-top: 2px solid black;
  border-bottom: 1px solid #eae7e2;
  z-index: 1;
  }

header > .inner {
  height: 120px;
}

header .inner .logo {
  position: absolute; /*계산을 할수있는지 없는지 알아야함 */
  margin: auto; /*해당영역의 가로사이즈가 설정되어있어야 잘먹힘 */
  top: 0;
  bottom: 0;
  left: 0; /* - 왼쪽벽에 붙어있게 할수 있음 */
  right: 0;
  height: 75px;
  
  /*top: 50%; / transform: translateY(-50%) ; */
  /*bottom: 0;*/
}

/* Sub menu */
header .inner .sub-menu {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6px;
  right: 50px;
}

header .inner .sub-menu .sub-menu__menu {
  display: flex;
  color: #656565;
  padding: 10px 30px;
  font-size: 13px;
}

header .inner .sub-menu .sub-menu__menu > li {

}

header .inner .sub-menu .sub-menu__menu > li:hover {
  text-decoration: underline;
}

header .inner .sub-menu .sub-menu__menu > li:not(:first-child)::before { /*가운데 줄*/
  /* content: "l";
  font-size: 13px;
  color: #e5e5e5;   - 이렇게 하면 글씨가 전부 밀림 */
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 1px;
  height: 13px;
  background-color: #e5e5e5;
}

header .inner .sub-menu .sub-menu__menu > li > a {
  display: block;
  font-size: 13px;
  padding: 10px 15px;
  color: #656565;
}

header .inner .sub-menu .search {
  position: relative;  /*돋보기 search 의 상위포지션 */

  
}
header .inner .sub-menu .search > input {
  width: 36px;
  height: 34px;
  padding: 4px 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  transition: width 0.4s;
}
header .inner .sub-menu .search > input:focus {
  width: 190px;
  
}

header .inner .sub-menu .search > .material-symbols-outlined {
  position: absolute; /*어디부모를 기준으로 하는지 정확하게 알아야함 */
  top: 0; /*top 이랑 bottom 사이즈가 수직정렬 */
  bottom: 0;
  height: 24px;
  right: 3px;
  margin: auto;
}

/* MAIN MENU */
header .inner .main_menu {
  display: flex;
  position: absolute;
  right: 0;
  bottom: 0;
 
}
header .inner .main_menu .item {
  background-color: #f6f5ef;

}
header .inner .main_menu .item .item__name {
  font-size: 13px;
  padding: 10px 22px 34px 22px;
  }
header .inner .main_menu .item:hover .item__name { /*아이템에 hover 를 주었을 떄 item name 이어떻게 변하는지, 같은 자식요소에 적용된거라서 깨지지 않음 */
  cursor: pointer;
  background-color: #2c2a29;
  color: #669900;
  text-decoration: underline;
}

header .inner .main_menu .item .item__contents {
  position: fixed; /*뷰포트를 기준으로 하려고 */
  width: 100%;  /*height: 50px; */
  left: 0; /*뷰포트를 기준으로 왼쪽'0'에 붙히겠다*/
  top: 120px; /*header 아래 위치할수 있게 */
  display: none; /*특성과 기준 전부다 사라짐 다없앤다음에 봐야 편해서*/
 
}

header .inner .main_menu .item:hover .item__contents { /*아이템에 호버를 주면 상태창이 유지가 된다 */
  display: block;
}

header .inner .main_menu .item .item__contents .item__contents__menu {
    background-color: #2c2a29;
    padding: 20px 0px; 
    
}
header .inner .main_menu .item .item__contents .item__contents__menu .inner {
    display: flex; /*1100을 200 + 20 으로 5 개로 나눠서 쓸거임, */
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner > li {
    width: 200px;
    padding-right: 20px;
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner > li > a {
    display: block; /*글씨에게 공간값 주기 */
    color: white;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 15px;
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner > li > a:hover {
    text-decoration: underline;
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner > li > ul {}
header .inner .main_menu .item .item__contents .item__contents__menu .inner > li > ul > li {
    color: #999;
    font-size: 12px;
    margin: 5px 0;
}

header .inner .main_menu .item .item__contents .item__contents__menu .inner > li > ul > li:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* BADGES */
header .badges {
  position: absolute; /*fixed 안쓰고 뷰포트 해보기 with each class */
  top: 150px; /*header 120px 을 줬기 떄문에 거기서 30px 떨어뜨려서 */
  /* left: calc(1100px + (100vw - 1100px) / 2); - 이너옆에 고정된 느낌으로 고정위치가 오른쪽이 아닌 왼쪽에 붙을 수 있게 효과주는것 */
  left: calc(1100px + (100vw - 1100px) / 2);
}

header .badges .badge {
  cursor: pointer;
  margin-top: 10px;
}

header .badges .badge img {
  width: 140px;
}

@media screen and (max-width: 1400px) {
  header .badges {
    left: calc(100vw - 150px);
  }
}

/* VISUAL */
.visual {
  position: relative;
  margin-top: 120px;
  background-image: url("../images/visual_bg.jpg");
  background-position: center;
  /* 스크롤 비율 낮춰도 양쪽 배경 꽉차게 */
  background-size: 106% 100%;
  background-repeat: no-repeat;
}

.visual .inner {
  position: relative;
  height: 646px;
}

.visual .inner .slogan {
  display: flex;
  flex-wrap: wrap;
  /* .inner 기준으로 absolute */
  position: absolute;
  width: 340px;
  justify-content: center;
  top: 180px;
  left: -130px;
  opacity: 0;  /* 애니메이션 준비*/
}
.visual.animate .inner .slogan {  /* 애니메이션 시작 */
  opacity: 1;
  transition: 0.4s;
}


.visual .inner .slogan img {
  width: 340px;
  display: block;
}

.visual .inner .slogan .btn {
  position: absolute;
  top: 250px;
}

.visual .inner img {
  position: absolute;
}

.visual .inner .item-1 {
  width: 290px;
  top: 120px;
  left: 340px;
  opacity: 0;/* 애니메이션 준비*/
}
.visual.animate .inner .item-1 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.4s;
}

.visual .inner .item-2 {
  width: 310px;
  top: 208px;
  left: 538px;
  opacity: 0;/* 애니메이션 준비*/
}
.visual.animate .inner .item-2 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 0.8s;
}


.visual .inner .item-3 {
  width: 310px;
  top: 162px;
  left: 762px;
  opacity: 0;/* 애니메이션 준비*/
}
.visual.animate .inner .item-3 {
  transition: 0.4s;
  opacity: 1;
  transition-delay: 1.2s;
}



/* NOTICE */
.notice {
  position: relative;
}
.notice .notice-line {
  position: relative;
  font-weight: 700; /*글자속성들은 상속이 된다*/
}
.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111111;

}
.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}
.notice .notice-line .inner {
  display: flex;
  height: 62px;
  

}
.notice .notice-line .inner .inner__left {
  position: relative;
  width: 60%;
  height: 100%;
  background-color: #111111;
  display: flex; /*중앙정렬 편하게 하려고 사용 하는 flex*/
  align-items: center;
  color: white;
}
.notice .notice-line .inner .inner__left h1 {
  position: absolute;
  left: 0;
  font-size: 16px;

}
.notice .notice-line .inner .inner__left .swiper {  /*swiper 를 쓰려면 크기값이 정확해야해서 height 설정 */
  position: absolute;
  height: 62px;
  left: 80px;
  font-size: 14px;
}
.notice .notice-line .inner .inner__left .swiper-wrapper .swiper-slide { 
  height: 62px;
  line-height: 62px;

}

.notice .notice-line .inner .inner__left a {
  position: absolute;
  right: 20px;
  color: white;
} 
.notice .notice-line .inner .inner__left a span {
  font-size: 36px;
  vertical-align: bottom; /*글자들을(아래부분이 기준)기준(base line A와 g의 차이)으로 중앙에서 맞춰짐 
  혹은 display를 block 으로 처리해주면됨 */
} 
.notice .notice-line .inner .inner__right {
  position: relative;
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
}
.notice .notice-line .inner .inner__right h1 {
  position: absolute;
  right: 120px;
  font-size: 16px;
}
.notice .notice-line .inner .inner__right a {
  position: absolute;
  right: 20px;
  color:black;
  transition: 0.4s;
}

.notice .notice-line .inner .inner__right a.show {
  transform: rotate(180deg);
}


.notice .notice-line .inner .inner__right a span {
  font-size: 36px;
  display: block;
}



/*PROMOTION*/
.notice .promotion {
  position: relative;
  height: 658px;
  background-color: #f6f5ef;
  overflow: hidden; /*뷰포트이상으로 보이는 부분을 없애서 가로스크롤 없앰 */
  transition: height 0.4s;
}
.notice .promotion.hide {
  height: 0px;
}
.notice .promotion .swiper {
  position: absolute;
  width: calc(819px * 3 + 20px);
  height: 553px;
  /* background-color: orange; */
  text-align: center;
  left: 50%;  /*부모요소로부터의 50% -중앙정렬하려구 */
  transform: translateX(-50%); /* 자기자신의 50% 중앙정렬하려구*/
  top: 40px;
}
.notice .promotion .swiper .swiper-wrapper {}
.notice .promotion .swiper .swiper-wrapper .swiper-slide {
  opacity: 0.5;
  transition: 0.2s;

}
.notice .promotion .swiper .swiper-wrapper .swiper-slide-active {
  opacity: 1;
}
.notice .promotion .swiper .swiper-wrapper .swiper-slide .btn {
  position: absolute;
  width: 150px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
  /* top 0 주고 heigth 36px 정도 주면 완전 사진 가운데에 위치가능 (중앙) */

  /* .notice .promotion .swiper .swiper-pagination {
    width: 100px;
    height: 50px;
  } */
 
.notice .promotion .swiper-button-prev,
.notice .promotion .swiper-button-next {
  position: absolute;
  top: 250px;
  width: 55px;
  height: 55px;
  border: 2px solid #333;
  color: #333;  /*양옆에 화살표는 text 로 들어가서 그냥 색변경가능 */
  border-radius: 50%;
  cursor: pointer;
  z-index: 1; /*이미지보다 상단에 있어야하므로 */
}

.notice .promotion .swiper-button-prev:after,
.notice .promotion .swiper-button-next:after {
  font-size: 24px; /*span태그라서 font로 사이즈 조정 가능 */
}
.notice .promotion .swiper-button-prev {
  left: 50%;
  transform: translateX(-550px);
}
.notice .promotion .swiper-button-next {
  right: 50%;
  transform: translateX(550px); 
}

.notice .promotion .swiper-pagination {}
.notice .promotion .swiper-pagination-bullet {
  width: 12px;
  height: 12px;

}
.notice .promotion .swiper-pagination-bullet-active {
  background-image: url("../images/promotion_on.png");
  background-size: cover;
  background-color: transparent;
}



/* REWARDS */
.rewards {
  position: relative;
  background-color: #1e3932;
}
.rewards .inner {
  position: relative;
  padding: 30px 0 40px 0;
  display: flex;
}
.rewards .inner .rewards__logo {
  display: flex;
  width: 260px; 
   
}
.rewards .inner .rewards__logo  img {
  display: block; /*위로뜨는거 막아줌 */
  width: 176px;
}
.rewards .inner .rewards__items {
  flex-grow: 1;
}

.rewards .inner .rewards__items .rewards__items__register{
  position: relative; /*버튼의부모임 */
  padding-bottom: 12px;
  box-shadow: 0 0.5px #c8c8c8; /*border로 넣으면 너무 진해져서 */
}
.rewards .inner .rewards__items .rewards__items__register p {
  display: block;
  font-size: 17px;
  color: white;
}
.rewards .inner .rewards__items .rewards__items__register p.subject {
  font-size: 26px;
  margin-bottom: 10px;
}
.rewards .inner .rewards__items .rewards__items__register .buttons {
  position: absolute;
  right: 0;
  bottom: 12px; /*padding bottom 12px준거 맞춰준것 */
}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register {
  background-color: #00704a;
  border-color: #00704a;
  color: white;
  margin-right: 6px;
  font-weight: 700;
}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login {
  border-color: white;
  color: white;
  font-weight: 700;
}
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--register:hover, 
.rewards .inner .rewards__items .rewards__items__register .buttons .btn--login:hover,
.rewards .inner .rewards__items .rewards__items__card .buttons .btn--login:hover {
  text-decoration: underline;
}


.rewards .inner .rewards__items .rewards__items__card {
  position: relative;
}
.rewards .inner .rewards__items .rewards__items__card p {
  display: block; /*자기영역을 가질수 있게*/
  font-size: 14px;
  color: white;
  margin-top: 20px;
}
.rewards .inner .rewards__items .rewards__items__card .buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

/* ELSALVADOR */
.elsalvador {
  position: relative;
  height: 570px; /*넓이는 뷰포트에서 받아올것 */
  background-image: url('../images/elsalvador_bg.jpg');
  background-size: cover; 
  background-position: center; /*105%를 주면 이미지가 늘어나니깐 가운데로 사진 중요 */
  overflow: hidden; /*105% 니깐 밖으로 빠지는 부분을 안보이게함 */

}
.elsalvador .inner {
  position: relative;
  
}
.elsalvador .inner img.elsalvador__item {
  position: absolute; /*inner 라는 기준으로 움직일거임 */
  width: 310px;
  top: 70px;
  left: 110px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}

.elsalvador .inner .elsalvador__contents { /*공간*/
  position: absolute; /*맘대로 움직이게해야지 */
  width: 339px;
  top: 180px;
  right: 140px;
  transform: translateX(900px);
  opacity: 0;
  transition: 2.5s;
}

.elsalvador.animate .inner img.elsalvador__item,
.elsalvador.animate .inner .elsalvador__contents { 
  opacity: 1;
  transform: translateX(0); /*원래 있어야할 곳으로 돌려놓는것 */

}

.elsalvador .inner .elsalvador__contents .item-text {}
.elsalvador .inner .elsalvador__contents .btn.btn--brown {
  margin-top: 40px;
}

/* EHIOPIA */
.ethiopia {
  position:relative;
  height: 400px;
  background-image: url("../images/ethiopia_bg.png");
  overflow: hidden;
}
.ethiopia::before {
  content: ""; /*자동으로 inline 속성이라 display 가 block 속성을 갖게됨 */
  position: absolute;
  bottom: 0;
  left: -50px;
  width: 425px;
  height: 404px;
  background-image: url("../images/ethiopia_before.png");
  background-size: cover; /*repeat 을 어느정도 피할수 있긴함 */
  background-repeat: no-repeat;
  opacity: 0;
  
}
.ethiopia::after {
  content: ""; /*자동으로 inline 속성이라 display 가 block 속성을 갖게됨 */
  position: absolute;
  bottom: 0;
  right: 0;
  width: 361px;
  height: 404px;
  background-image: url("../images/ethiopia_after.png");
  background-size: cover; /*repeat 을 어느정도 피할수 있긴함 */
  background-repeat: no-repeat;
  opacity: 0;
  }
.ethiopia .inner {
 
}
.ethiopia.animate::before,
.ethiopia.animate::after {
  transition: 1.5s;
  opacity: 1;
}

 .ethiopia .inner .ethiopia__contents {
  position:absolute;
  width: 496px;
  left: 0;
  top: 120px;
}
.ethiopia .inner .ethiopia__item {
  position: absolute;
  left: -500px;
  opacity: 0;
}

.ethiopia.animate .inner .ethiopia__item {
 transition: 1.5s;
 transition-delay: 0.8s;
 opacity: 1;
}

.ethiopia .inner .btn.btn--gold {
  position: absolute;
  left: 260px; 
  top: 270px;
}


.favourite {
  position: relative;
  height: 800px;
  background-image: url("../images/fav_bg.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.favourite .inner {
  position: relative;
}
.favourite .inner .favourite__text-1 {
  position: absolute;
  width: 258px;
  top: 120px;
  left: 108px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2s;
}
.favourite .inner .favourite__text-2 {
  position: absolute;
  width: 362px;
  top: 370px;
  transform: translateX(-700px);
  opacity: 0;
  transition: 2.5s;
}
.favourite.animate .inner .favourite__text-1,
.favourite.animate .inner .favourite__text-2 {
  transform: translate(0);
  opacity: 1;
}

.favourite .inner .favourite__image {
  position: absolute;
  width: 912px;
  top: 100px;
  right: -260px;
}
.favourite .inner .btn.btn--white {
  position: absolute;
  top: 580px;
  left: 238px; 
}

/*MAGAZINE*/
.magazine {
  position: relative;
  height: 400px;
  background-image: url("../images/magazine_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 50px;
  overflow: hidden;
  
}
.magazine .inner {
  position: relative;
}

.magazine .inner .magazine__text {
  position: absolute;
  width: 588px;
  top: 135px;
  left: 60px;
}

.magazine .inner .magazine__image {
  position: absolute;
  width: 348;
  top: 0px;
  right: 50px;
  opacity: 0;
  transition: 1.5s;
}

.magazine.animate .inner .magazine__image {
  opacity: 1;
}


.magazine .inner .btn.btn--black {
  position: absolute;
  top: 270px;
  left: 295px;
}

/*STORE*/
.store {
  position: relative;
  height: 400px;
  background-image: url("../images/store_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.store .inner {
  height: 400px;
}

.store .inner .store__text-1 {
  position: absolute;
  width: 385px;
  top: 100px;
  right: 50px;
  opacity: 0;
  transform: translateX(800px);
  transition: 2s;
}

.store .inner .store__text-2 {
  position: absolute;
  width: 366px;
  top: 170px;
  right: 69px;
  opacity: 0;
  transform: translateX(800px);
  transition: 2.5s;
}

.store.animate .inner .store__text-1,
.store.animate .inner .store__text-2 {
  opacity: 1;
  transform: translateX(0);
}

.store:active .inner .btn.btn--black {
  opacity: 1;
  transform: translateX(0);
  transition: transform 3s, background-color 0.6s, color 0.6s,
    text-decoration 0.6s;
}

.store .inner .store__img-1 {
  position: absolute;
  width: 366px;
  top: 0;
  left: 70px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img-2 {
  position: absolute;
  width: 228px;
  top: 150px;
  left: 300px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img-3 {
  position: absolute;
  width: 348px;
  top: -60px;
  left: 430px;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .store__img-4 {
  position: absolute;
  width: 230px;
  right: -70px;
  bottom: 0;
  opacity: 0;
  transition: 1.5s;
}
.store .inner .btn.btn--black {
  position: absolute;
  top: 290px;
  right: 330px;
  opacity: 0;
  transform: translateX(800px);
}

.store.animate .inner .store__img-1,
.store.animate .inner .store__img-2,
.store.animate .inner .store__img-3,
.store.animate .inner .store__img-4 {
  opacity: 1;
}


/*FOOTER*/
  footer {
    position: relative; /*높이값 생략, 컨텐츠높이만큼 가져가는 게 자연스러움 */
    background-color: #2c2a29;
    padding: 30px 0;
  }
  footer .inner {
    
  }

/*FOOTER MENU*/
footer .inner .footer__menu {
  display: flex;
}
footer .inner .footer__menu .left {
  width: 90%;
}
footer .inner .footer__menu .left .menu {
  display: flex;
   
}
footer .inner .footer__menu .left .menu > li {/*li가 중첩되니깐 직계자손으로 사용*/
  width: 20%;
} 
footer .inner .footer__menu .left .menu > li > ul {}  
footer .inner .footer__menu .left .menu > li > ul > a {
  display: block;
  color: white;
  font-size: 14px;
  margin: 10px 0;  
}  
footer .inner .footer__menu .left .menu > li > ul > li {
  font-size: 12px;
  color: white;
  margin: 8px 0;
  cursor: pointer;
}  

footer .inner .footer__menu .left .menu > li > ul > a:hover,
footer .inner .footer__menu .left .menu > li > ul > a > li:hover {
 text-decoration: underline;
}

footer .inner .footer__menu .right {
  width: 10%;
  
}
footer .inner .footer__menu .right .img {
 float: right;
}

/*FOOTER SUB__MENU */
footer .inner .footer__sub-menu {
  padding: 30px 50px 10px 50px;

}
footer .inner .footer__sub-menu > ul {
  display: flex;
  justify-content: space-between;
  /*양끝에 붙게 처리됨 */
  
}
footer .inner .footer__sub-menu > ul > li {
  font-size: 12px;
  color: #ccc;
}

footer .inner .footer__sub-menu > ul > li.contour {/*애가 ul>li 선택자 이김 */
  color: #999;
  
}  
footer .inner .footer__sub-menu > ul > li > a {
  color: #ccc;
}
 
footer .inner .footer__sub-menu > ul > li:first-child > a {
    color: #00b050; 
}

footer .inner .footer__sub-menu > ul > li > a:hover {
  text-decoration: underline;
}

/*footer button */
footer .inner .footer__btn {
  text-align: center;
}
footer .inner .footer__btn .btn {
  margin-right: 5px; /*inline block 이기 때문에 가능한것 common 에있음 */
  font-size: 12px;
}

footer .inner .footer__btn .btn:hover {
  background-color: transparent;
  text-decoration: underline;
  color: white;
}

/*footer copylight*/
footer .inner .footer__copylight {
  color: #999;
  font-size: 12px;
  text-align: center;
  margin-top: 30px;
 }
 footer .inner .footer__copylight p {
  line-height: 30px;
 }

